<a href="https://colab.research.google.com/github/Rafiqahh/APM_KLP10/blob/main/RuleBasedClassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np 
import pandas as pd 

data = pd.read_csv('persona.csv')
data.head()

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

In [3]:
#Question 1: How many unique SOURCE are there? What are their frequencies?
print("Unique SOURCE", data["SOURCE"].nunique())
print("Frequencies of SOURCE:", data['SOURCE'].value_counts())
#Question 2:How many unique PRICEs are there?
print("Unique PRICE", data["PRICE"].nunique())
#Question 3: How many sales were made from which PRICE?
print("Frequencies of PRICE", data['PRICE'].value_counts())
#Question 4: How many sales were made from which country
print("Frequencies of COUNTRY", data['COUNTRY'].value_counts())
#Question 5: How much was earned from sales by country?
print("Winnings by COUNTRY:", data.groupby("COUNTRY")[['PRICE']].aggregate("sum"))
#Question 6: What are the sales numbers by SOURCE types
print("Amount of sales by SOURCE", data['SOURCE'].value_counts())
#Question 7: What are the PRICE averages by country?
print(("Mean PRICE by COUNTRY", data.groupby('COUNTRY')[["PRICE"]].aggregate("mean")))
#Question 8: What are the PRICE averages according to SOURCEs
print(("Mean PRICE by SOURCE", data.groupby('SOURCE')[["PRICE"]].aggregate("mean")))
#Question 9: What are the PRICE averages in the COUNTRY-SOURCE breakdown?
print(("Mean PRICE by COUNTRY and SOURCE", data.groupby(['COUNTRY', 'SOURCE'])[["PRICE"]].aggregate("mean").unstack()))
print(("Mean PRICE by COUNTRY", data.groupby(['COUNTRY', 'SOURCE', 'SEX', 'AGE'])[["PRICE"]].aggregate("mean").head()))

Unique SOURCE 2
Frequencies of SOURCE: android    2974
ios        2026
Name: SOURCE, dtype: int64
Unique PRICE 6
Frequencies of PRICE 29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: PRICE, dtype: int64
Frequencies of COUNTRY usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: COUNTRY, dtype: int64
Winnings by COUNTRY:          PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225
Amount of sales by SOURCE android    2974
ios        2026
Name: SOURCE, dtype: int64
('Mean PRICE by COUNTRY',              PRICE
COUNTRY
bra      34.327540
can      33.608696
deu      34.032967
fra      33.587459
tur      34.787140
usa      34.007264)
('Mean PRICE by SOURCE',              PRICE
SOURCE
android  34.174849
ios      34.069102)
('Mean PRICE by COUNTRY and SOURCE',              PRICE
SOURCE     android        ios
COUNTRY
bra      34.387029  34.222222
can      33.330709  33.951456
deu      33.869888  34.268817
fra      34.312500  32.776224
tur      36.229437  33.272727
usa      33.760357  34.371703)
('Mean PRICE by COUNTRY',                                 PRICE
COUNTRY SOURCE  SEX    AGE
bra     android female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897)

In [4]:
agg_df = data.groupby(['COUNTRY', 'SOURCE', 'SEX', 'AGE'])[["PRICE"]].aggregate("mean")
agg_df= agg_df.sort_values('PRICE', ascending=False)
agg_df = agg_df.reset_index()
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE
0     bra  android    male   46   59.0
1     usa  android    male   36   59.0
2     fra  android  female   24   59.0
3     usa      ios    male   32   54.0
4     deu  android  female   36   49.0

In [5]:
bins = [0, 18, 23, 30, 40, 70]
lab = ["0_18", "19_23", "24_30", "31_40", "41_70"]
agg_df["AGE_CAT"] = pd.cut(agg_df["AGE"], bins, labels=lab)
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE AGE_CAT
0     bra  android    male   46   59.0   41_70
1     usa  android    male   36   59.0   31_40
2     fra  android  female   24   59.0   24_30
3     usa      ios    male   32   54.0   31_40
4     deu  android  female   36   49.0   31_40

In [6]:
agg_df["customer_level_based"] = [val[0] +"_" + val[1] +"_"+ val[2] + "_" +val[5] for val in agg_df.values]
agg_df = agg_df[["customer_level_based", "PRICE"]]
agg_df.head()

       customer_level_based  PRICE
0    bra_android_male_41_70   59.0
1    usa_android_male_31_40   59.0
2  fra_android_female_24_30   59.0
3        usa_ios_male_31_40   54.0
4  deu_android_female_31_40   49.0

In [7]:
agg_df=agg_df.reset_index()
agg_df.head()

   index      customer_level_based  PRICE
0      0    bra_android_male_41_70   59.0
1      1    usa_android_male_31_40   59.0
2      2  fra_android_female_24_30   59.0
3      3        usa_ios_male_31_40   54.0
4      4  deu_android_female_31_40   49.0

In [8]:
agg_df = agg_df.groupby("customer_level_based").agg({"PRICE": "mean"})
agg_df = agg_df.reset_index()
agg_df.head()

       customer_level_based      PRICE
0   bra_android_female_0_18  35.645303
1  bra_android_female_19_23  34.077340
2  bra_android_female_24_30  33.863946
3  bra_android_female_31_40  34.898326
4  bra_android_female_41_70  36.737179

In [9]:
agg_df["SEGMENT"] = pd.qcut(agg_df['PRICE'],4,labels=['D','C','B','A'])
agg_df

         customer_level_based      PRICE SEGMENT
0     bra_android_female_0_18  35.645303       B
1    bra_android_female_19_23  34.077340       C
2    bra_android_female_24_30  33.863946       C
3    bra_android_female_31_40  34.898326       B
4    bra_android_female_41_70  36.737179       A
..                        ...        ...     ...
104         usa_ios_male_0_18  33.983495       C
105        usa_ios_male_19_23  34.901872       B
106        usa_ios_male_24_30  34.838143       B
107        usa_ios_male_31_40  36.206324       A
108        usa_ios_male_41_70  35.750000       B

[109 rows x 3 columns]

In [10]:
new_user = 'tur_android_female_19_23'
agg_df[agg_df['customer_level_based'] == new_user]

        customer_level_based      PRICE SEGMENT
70  tur_android_female_19_23  33.444444       C